.list-group{
    line-height: 180%;
    text-align: center;
    width: 70%;
}

.list-group{
    margin: 10%;
    background-color: aqua;
}

.mb-3{
    color: rgb(74, 33, 33);
}

.container-fluid{
  position: center;
  text-align: center;
  width: 70;
  margin: 20;
}

.btn-primary{
    width: 200;
}

.container{
    text-align: center;
    padding-top: 100;
    margin: 30;
}